<a [routerLink]="['/movies/new']" class="btn">
  Add new
</a>
<div class="search input-field">
  <i class="material-icons prefix">search</i>
  <input type="text" class="validate" #searchField>
  <label>Search movies</label>
</div>
<ng-container *ngIf="(movies$ | async) as movies">
  <div *ngIf="movies.length; else empty">
    <app-movie-item
      *ngFor="let movie of movies"
      [movie]="movie"
      (commentUpdate)="handleCommentUpdate($event)"
      (movieDelete)="handleMovieDelete($event)"
    ></app-movie-item>
  </div>
  <ng-template #empty>
    No movies found
  </ng-template>
</ng-container>
