<div class="card horizontal row">
  <div class="card-image col s3">
    <img [src]="movie.poster" appImageFallback="assets/noImage2.png">
  </div>
  <div class="card-stacked col s9">
    <div class="card-content">
      <div class="card-header">
        <div class="card-title">
          {{movie.title}}
          <span class="year">({{movie.year}})</span>
        </div>
        <span class="genre">{{movie.genre}}</span>
      </div>
      <p>{{movie.plot}}</p>
      <div class="comment comment--saved" *ngIf="commentSaved; else comment">
        <span>
          Comment:
        </span>
        <p>
          {{movieComment}}
        </p>
      </div>
      <ng-template class="comment" #comment>
        <div class="input-field">
          <textarea
            class="materialize-textarea"
            [(ngModel)]="movieComment"
          ></textarea>
          <label>Comment</label>
          <div class="wordcount" [ngStyle]="{color: movieComment.trim().length === 0 ? 'firebrick' : 'lightseagreen'}">
            {{ movieComment | wordCount }}
          </div>
        </div>
      </ng-template>
      <div class="card-action">
        <button
          class="btn-flat"
          [disabled]="movieComment.trim().length === 0"
          (click)="saveComment(movie.id)"
        >
          {{commentSaved ? 'Edit' : 'Save'}} comment
        </button>
        <a
          class="btn indigo accent-2"
          [routerLink]="['/movies', movie.id]"
        >
          Edit movie
        </a>
        <button
          class="btn deep-orange"
          (click)="handleDelete()"
        >
          Delete movie
        </button>
      </div>
    </div>
  </div>
</div>
